<html>
  <head>
    <title>Steven's Digit Classifier</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<script src ="http://intridea.github.com/sketch.js/lib/sketch.js"></script>
  	<!--  The sketch plugin is documented here: http://intridea.github.io/sketch.js/ -->

  </head>
  <body>
      <h1>This site is for classifying handwritten digits</h1>
      <!-- {% print app %} -->

      <h2>This is where you can draw a number to have it classified</h2>


	<div class="tools">
      <a href="#simple_sketch" data-download="png" style="float: center; width: 100px;">Download Image</a>
    </div>

      <canvas id="simple_sketch" width="200" height="200" style="border:1px solid #000000;"></canvas>
      <BR>

      <button onclick="jsDownloadImage()">Click me</button>

      <p id="testing">this is my test text</p>
      <h3>Test code output below:</h3>

      <p id="output1">output1</p>
      <p id="output2">output2</p>




	 <script type="text/javascript">
  		$(function() {
    		$('#simple_sketch').sketch();
  		});
    
    	function jsDownloadImage() {
    		var drawingData = $('#simple_sketch')[0].toDataURL();
    		testOutput(btoa(drawingData));
    		//var postResults = $.post("input", drawingData, null, "binary/octet-stream");
    		
    		//yet another insane hack.
    		//drawingData represents ~base64 encoded PNG image. Including a bit of extra
    		//but when we send it over the wire, we lose content - it gets mangled slightly.
    		//....so we're going to base64encode it (even though it already is) again
    		//and unecnode it twice on the other end.

    		var postResults =  $.ajax({
			  type: "POST",
			  url: "input",
			  data: btoa(drawingData),   //btoa base64encodes the string
			  success: null,
			  dataType: "text"
			});



    		// taking this from http://api.jquery.com/jquery.post/

    		postResults.done(function (data) {
    			document.getElementById("output2").innerHTML = data;
    		})

    	};

    	function testOutput(output) {
    		document.getElementById("output1").innerHTML = output;
    	};
    </script>

  


  </body>
</html>


