<html>
  <head>
    <title>Steven's Digit Classifier</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  	<script src ="http://intridea.github.com/sketch.js/lib/sketch.js"></script>
  	<!--  The sketch plugin is documented here: http://intridea.github.io/sketch.js/ -->

  </head>
  <body>
      <h1>This site is for classifying handwritten digits</h1>
      <!-- {% print app %} -->

      <h2>This is where you can draw a number to have it classified</h2>


	<div class="tools">
      <a href="#simple_sketch" data-download="png" style="float: center; width: 100px;">Download Image as PNG</a>
    </div>
    <BR>

      <canvas id="simple_sketch" data-size="30" width="200" height="200" style="border:1px solid #000000;"></canvas>
      <BR>

      <button onclick="jsDownloadImage()" >Classify!</button>

      <h3>Test/Debug output below:</h3>

      <p id="output1">output1</p>
      <p id="output2">output2</p>




	 <script type="text/javascript">
  		$(function() {
    		$('#simple_sketch').sketch();
    		$('#simple_sketch').sketch('size', '20')
  		});
    
    	function jsDownloadImage() {
    		var drawingData = $('#simple_sketch')[0].toDataURL();
    		
    		var trimmedData = drawingData.slice(22)
    		// console.log(trimmedData)

    		testOutput(trimmedData);    //DEBUG code
    		binaryBlob = atob(trimmedData)    //atob decodes base64 to binary
    		     //trimmedData = btoa(trimmedData)    //encode binary as base64 again
			
			var formData = new FormData();   //http://stackoverflow.com/questions/19148065/how-to-post-binary-file-from-jquery-client-to-java-server-using-rest
			formData.append('theimage', trimmedData)

    		//yet another insane hack.
    		//drawingData represents ~base64 encoded PNG image. Including a bit of extra
    		//but when we send it over the wire, we lose content - it gets mangled slightly.
    		//....so we're going to base64encode it (even though it already is) again
    		//and unecnode it twice on the other end.

    		var postResults =  $.ajax({
			  type: "POST",
			  url: "input",
			  data: formData,   //btoa base64encodes the string
			  processData: false,
			  contentType: false,
			  success: null,
			  dataType: "text"
			});



    		// taking this from http://api.jquery.com/jquery.post/

    		postResults.done(function (data) {
    			document.getElementById("output2").innerHTML = data;
    		})

    	};

    	function testOutput(output) {
    		document.getElementById("output1").innerHTML = output;
    	};
    </script>

  


  </body>
</html>


